### Numpy
* array processing for numbers, strings, records and object
* majorly used for data analysis
* n-dimentional array
* array-orianted prograaming

### Creating numpy array
* It can only contain homoginious data unlike python list
* perform operation on bulk of values
* numpy array created using sequences like list even nd-array(numpy array)(n-dmintional array)

In [2]:
5 * 5

25

In [3]:
lst = ["a", "b", "c", 1, 2]

In [4]:
lst

['a', 'b', 'c', 1, 2]

In [5]:
lst +  2

TypeError: can only concatenate list (not "int") to list

In [6]:
[1, 2] + 2

TypeError: can only concatenate list (not "int") to list

In [ ]:
# [1, 2]+2 --> [3, 4]